@import url("https://fonts.googleapis.com/css2?family=Exo:wght@600;700&family=Noto+Sans:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

.spacer {
  padding: 25px;
}


.nav {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  column-gap: 20px;
  background-color: #f4f0ec;
  
}

.headerLine{
  filter: drop-shadow(0px 3px 3px #808080);
}

.rightSide {
  display: flex;
  flex-direction: row-reverse;
}

/* Style the links inside the navigation bar */
.rightSide a {
  font-family: "Exo", sans-serif;
  float: left;
  color: #dd2358;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 25px;
}

.rightSide a:hover {
  color: #f1a7bc;
}


.textarea {
display: block;
}

.main {
  display: inline-flex;
  flex-direction: column;

  padding: 30px;
  width: 75%;
  /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.main-header {
  font-family: "Exo", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.main-input-word {
  margin-bottom: 20px;
}
.main-word-area {
  width: 95%;
  border: #ced4da 2px solid;
  border-radius: 10px;
  resize: none;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}
.main-translate-button {

  width: 50%;
  padding: 7px;
  border: 1px solid #ff5e8d;
  background-color: #ff5e8d;
  border-radius: 7px;
  color: white;
  font-family: "Exo", sans-serif;
  text-align: center;
  font-size: 16px;
  outline: none;
}
.main-translate-button::-moz-focus-inner {
  border: 0;
}
.main-translate-button:hover {
  background-color: #f1a7bc;
  border-color: #f1a7bc;
  cursor: pointer;
}

.main-result-block {
  text-align: center;
  font-size: 16px;
}
